form{
    input[type=text]{
        border-radius: 100px;
        width: 100%;
        max-width: 400px;
        height: 46px;
    }

    input[type=submit], input[type=button]{
            border: none;
            border-radius: 5px;
            padding: 10px 16px 10px 16px; 
            margin: 20px 5px 0px 5px;
            transition-duration: 0.4;
    }

    input[type=submit]:hover, input[type=button]:hover{
            border: 1px solid rgb(194, 187, 187);
    }

} 
#form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: nowrap;
}

#searchbar{
    max-width: 400px;
    width: 100%;
    height: 46px;
}

